/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
  font-family: 'MPLUSRounded1c-Medium';
  src: url('MPLUSRounded1c-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.custom-font {
  font-family: 'MPLUSRounded1c-Medium';
}

.h-162px {
  height: 162px;
}
.h-500px {
  height: 500px;
}
.h-700px {
  height: 700px;
}

.w-288px {
  width: 288px;
}

.max-h-500px {
  max-height: 500px;
}
.max-h-700px {
  max-height: 700px;
}
