%nav.flex.items-center.justify-between.flex-wrap.bg-purple-700.p-6
  %div.flex.items-center.flex-shrink-0.text-white.mr-6
    %a.font-semibold.text-xl.tracking-wider{href: root_path} Shiki
  %div.w-full.block.flex-grow.lg:flex.lg:items-center.lg:w-auto.text-right
    %div.text-sm.lg:flex-grow
      .block.mt-4.lg:inline-block.lg:mt-0.text-purple-200.hover:text-white.mr-4= link_to 'Videos', videos_path
      .block.mt-4.lg:inline-block.lg:mt-0.text-purple-200.hover:text-white.mr-4= link_to 'Upload new video', new_video_path
      .block.mt-4.lg:inline-block.lg:mt-0.text-purple-200.hover:text-white.mr-4= link_to 'Tags', tags_path
      .block.mt-4.lg:inline-block.lg:mt-0.text-purple-200.hover:text-white.mr-4= link_to 'Create new tag', new_tag_path
